{% extends "layouts/layout" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center">
            {% if entry.aboutImage|length %}
                {% for asset in entry.aboutImage %}
                    <img src="{{ asset.getUrl() }}" alt="Dside" title="Dside" style="width:200px;" /><br /><br />
                {% endfor %}
            {% endif %}

            {% for block in entry.biography %}
                {% if block.biographyTitle|length %}
                    <h2>{{ block.biographyTitle }}</h2><br /><br />
                {% endif %}
                {% if block.biographyParagraph|length %}
                    <p>{{ block.biographyParagraph }}</p><br /><br />
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
