{% extends "layouts/layout" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center">

            {% if entry.paragraph|length %}
                <p>{{ entry.paragraph }}</p><br /><br />
            {% endif %}

            {% if entry.email|length %}
                <a href="mailto:{{ entry.email }}">{{ entry.email }}</a><br /><br />
            {% endif %}
            
        </div>
    </div>

{% endblock %}
