{% extends "layouts/layout" %}

{% block content %}

    <div class="row grid no-gutters">
        {% for entry in craft.entries.section('history') %}
            <div class="col-lg-3 grid-item">
                {% for image in entry.workImage %}
                    <img src="{{ image.url() }}" alt="{{ entry.title }}" title="{{ entry.title }}" />
                {% endfor %}
                <div class="historyInfo">
                    <h2>{{ entry.title }}</h2><br />
                    <p>
                        {{ entry.workParagraph }}<br /><br />
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
