{% extends "layouts/layout" %}

{% block content %}

    <div class="row inOut">
        {% for entry in craft.entries.section('outside') %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                {% for image in entry.workImage %}
                    <img src="{{ image.url('insideOutside') }}" alt="{{ entry.title }}" title="{{ entry.title }}" /><br />
                {% endfor %}
                <h2>{{ entry.title }}</h2>
                {#<p>
                    {{ entry.workParagraph }}<br /><br />
                </p>#}
            </div>
        {% endfor %}
    </div>


{% endblock %}
