{% extends "layouts/layout" %}

{% block content %}

    {% for entry in craft.entries.section('projects') %}
        {% if entry.majorProject %}
            {% for image in entry.workImage %}
                <img src="{{ image.url() }}" alt="{{ entry.title }}" title="{{ entry.title }}" style="width:200px;" /><br /><br />
            {% endfor %}
            <h2>{{ entry.title }}</h2><br />
            <p>
                {{ entry.workParagraph }}<br /><br />
            </p>
        {% else %}
        {% for image in entry.workImage %}
            <img src="{{ image.url() }}" alt="{{ entry.title }}" title="{{ entry.title }}" style="width:100px;" /><br /><br />
        {% endfor %}
        <h2>{{ entry.title }}</h2><br />
        <p>
            {{ entry.workParagraph }}<br /><br />
        </p>
        {% endif %}
    {% endfor %}


{% endblock %}
