{% extends "layouts/layout" %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <ul>
                <li><a href="{{ entry.instagramUrl }}" target="_blank">Instagram</a></li>
                <li><a href="{{ entry.facebookUrl }}" target="_blank">Facebook</a></li>
                <li><a href="{{ entry.vimeoUrl }}" target="_blank">Vimeo</a></li>
                <li><a href="{{ entry.storeUrl }}" target="_blank">Store</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
