<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{# Cachebust the CSS/JS #}
    {% set assetVersion = craft.config.env == "local" ? date().getTimestamp() : 0.12 %}

	{# CSS #}
	{% includeCssFile "/assets/css/vendor.min.css?v="~assetVersion %}
	{% includeCssFile "/assets/css/site.min.css?v="~assetVersion %}

</head>

<body class="{{ entry is defined ? entry.title|lower : "dside" }}Page">
	<div class="container-fluid">
		<header id="header">
			<nav>
				<ul>
					<li><a href="{{ url('outside') }}" {% if craft.request.firstSegment == 'outside' %}class="active"{% endif %}><img src="/assets/img/outside.png" alt="Outside" title="Outside" /></a></li>
					<li><a href="{{ url('inside') }}" {% if craft.request.firstSegment == 'inside' %}class="active"{% endif %}><img src="/assets/img/inside.png" alt="Inside" title="Inside" /></a></li>
					<li><a href="{{ url('projects') }}" {% if craft.request.firstSegment == 'projects' %}class="active"{% endif %}><img src="/assets/img/projects.png" alt="Projects" title="Projects" /></a></li>
					<li>
						<h1><a href="{{ siteUrl }}"><img src="/assets/img/dside.png" alt="{{ siteName }}" title="{{ siteName }}" /></a></h1>
					</li>
					<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}><img src="/assets/img/about.png" alt="About" title="About" /></a></li>
					<li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}><img src="/assets/img/contact.png" alt="Contact" title="Contact" /></a></li>
					<li><a href="{{ url('social') }}" {% if craft.request.firstSegment == 'social' %}class="active"{% endif %}><img src="/assets/img/social.png" alt="Social" title="Social" /></a></li>
					<li><a href="{{ url('history') }}" {% if craft.request.firstSegment == 'history' %}class="active"{% endif %}><img src="/assets/img/history.png" alt="History" title="History" /></a></li>
				</ul>
			</nav>
		</header>

		<main id="content">
			{% block content %}
			{% endblock %}
		</main>

		<footer id="footer">
			&copy; Dside {{ now.year }}
		</footer>
	</div>

	{# JS #}
	{# CDN Jquery, localise before live deployment #}<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	{% includeJsFile "/assets/js/vendor.min.js?v="~assetVersion %}
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}
	{# Masonry #}
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script>
	$(document).ready(function(){
		$('.grid').masonry({
		  itemSelector: '.grid-item',
	  	});
	});
	</script>

</body>
</html>
