:root{
    a, a:visited{
        color: $black;
        text-decoration: none;
        transition: color 0.2s ease;
        &:hover, &:active{
        }
    }
    a.active{
        color: #AAA !important;
    }
}
