
// Core styles

body{
    font-family: $font-main;
    color: $black;
}

.container-fluid{
    margin-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* ---------------------------- Site wide / Defaults / Resets ---------------------------- */

// Images

img{
    width: 100%;
}

nav{
    ul{
        margin: 0 auto;
        padding: 0;
        text-align: center;
        li{
            display: inline-block;
            list-style: none;
            text-align: center;
            margin: 0 1rem;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            img{
                height: 1.6rem;
                width: auto;
            }
            a.active{
                img{
                    opacity: 0.333;
                }
            }
        }
    }
}

#content{
    margin: 2rem 0 0 0;
    min-height: 80vh;
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }
    .inOut{
        text-align: center;
        h2{
            display: inline-block;
            margin-bottom: 0.4rem;
            color: $grey;
            font-size: 0.8rem;
            font-weight: 400;
            letter-spacing: 0.02rem;
        }
    }
}

.socialPage{
    #content{
        ul{
            li{
            }
        }
    }
}

.historyPage{
    .historyInfo{
        opacity: 0;
        background: rgba(255,255,255,0.6);
        position: absolute;
        padding: 1rem;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: opacity 0.1s ease-in-out;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
    }
}

footer{
    margin: 4rem 0 2rem;
    font-size: 0.6rem;
    opacity: 0.3;
    text-align: center;
    font-style: italic;
}
